/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --bg-color: #fff;
  --accent-color: #000;
  --accent-color-for-buttons: #fff;
  --stroke-for-text: #fff;
  --font-weight-par: 400;
  --font-weight-head: 700;
  --heart-contour-color: #000;
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}

:root.theme-dark {
  --bg-color: #000;
  --accent-color: #00cc14;
  --accent-color-for-buttons: #00cc14;
  --stroke-for-text: #000;
  --font-weight-par: 465;
  --font-weight-head: 785;
  --heart-contour-color: #00cc14;
  --bg-image: repeating-linear-gradient(
      to right,
      #000 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(#000 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(#007f0c, #004306);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --accent-color: #00cc14;
    --accent-color-for-buttons: #00cc14;
    --stroke-for-text: #000;
    --font-weight-par: 465;
    --font-weight-head: 785;
    --heart-contour-color: #00cc14;
    --bg-image: repeating-linear-gradient(
        to right,
        #000 0 2px,
        rgb(0 0 0 / 0) 2px 4px
      ),
      repeating-linear-gradient(#000 0 2px, rgb(0 0 0 / 0) 2px 4px),
      linear-gradient(#007f0c, #004306);
  }
}
